/*--------------------------------------
  SP style
--------------------------------------*/

/* ボタンタイプ */
.c-button--01 {
    background-color: #707070;
    padding: .5em 1.5em;
    color: #fff;
    border-radius: 9999999px;
    font-size: 1.5rem;
    margin: 0 .5rem;
}

.c-button--02 {
    background-color: #ff2692;
    padding: .5em 2em;
    color: #fff;
    border: solid 1px #ff2692;
    border-radius: 5px;
    font-size: 1.7rem;
    display: inline-block;
    margin: 0 .5rem;
}

.c-button--03 {
    background-color: transparent;
    padding: .45em 2em;
    color: #707070;
    border: solid 1px #fff;
    border-radius: 5px;
    font-size: 1.7rem;
    width: 100%;
    background-color: #ffd500;
}

.c-button--04 {
    background-color: #fff;
    padding: .5em 2em;
    color: #707070;
    border: solid 1px rgb(67, 74, 84);
    border-radius: 5px;
    font-size: 1.7rem;
    display: inline-block;
    margin: 0 .5rem;
}

.c-button--05 {
    background-color: #fff;
    padding: .5em 1.5em;
    color: #707070;
    border: solid 1px #707070;
    border-radius: 9999999px;
    font-size: 1.5rem;
    margin: 0 .5rem;
}

a.c-button--05 {
    background-color: #fff;
    padding: .5em 1.5em;
    color: #707070;
    border: solid 1px #707070;
    border-radius: 9999999px;
    font-size: 1.5rem;
    margin: 0 .5rem;
    display: inline-block;
}

.c-button__no--01 {
    background-color: #fff;
    color: #1b1e21;
    font-size: 1.3rem;
    border: solid 1px rgb(67, 74, 84);
    border-radius: 15px;
    padding: .5rem;
    margin: 0 .5rem;
    min-width: 25%;
}

.c-button__yes--01 {
    background-color: #4c9aff;
    color: #fff;
    font-size: 1.3rem;
    border: solid 1px #4c9aff;
    border-radius: 15px;
    padding: .5rem;
    margin: 0 .5rem;
    min-width: 25%;
}

a.c-button__yes--01 {
     background-color: #4c9aff;
     color: #fff;
     font-size: 1.3rem;
     border: solid 1px #4c9aff;
     border-radius: 15px;
     padding: .5rem;
     margin: 0 .5rem;
     min-width: 25%;
     display: inline-block;
}

a.c-button__yes--02 {
    background-color: #ff6a6a;
    color: #fff;
    font-size: 1.3rem;
    border: solid 1px #ff6a6a;
    border-radius: 15px;
    padding: .5rem;
    margin: 0 .5rem;
    min-width: 25%;
    display: inline-block;
}

.c-button__yes--03 {
    background-color: #ffd502;
    color: #fff;
    font-size: 1.5rem;
    border: solid 1px #ffd502;
    border-radius: 15px;
    padding: .5rem;
    margin: 0 .5rem;
    min-width: 25%;
}

/* ファイルアップロードボタン */

.c-buttonWrap--file {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.c-button__file {
    width: 250px;
    height: 250px;
    background-color: #d2d2d2;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin-bottom: 3rem;
}

.c-button__file::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 100px;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
}

.c-button__file::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 10px;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
}

.c-button__file input[type="file"] {
    /*display: none;*/
    opacity: .5;
    position: absolute;
    left: -10px;
    bottom: -3rem;
}

/*--------------------------------------
  TAB style
--------------------------------------*/

@media screen and (min-width:480px) and ( max-width:768px) {
    .c-button__file input[type="file"] {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media screen and (min-width:768px) and ( max-width:1024px) {
    .c-button__file input[type="file"] {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

/*--------------------------------------
  PC style
--------------------------------------*/

@media screen and (min-width:1024px) {
    .c-button__file input[type="file"] {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
