/* form */

.c-form__inputWrap {
    margin-bottom: 1rem;
}

.c-form__inputList {
    text-align: center;
    padding: 0 2rem 1.5rem;
}

.c-form__inputList .c-form__title {
    font-size: 2rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: .5rem;
}

.c-form__inputList .c-form__input--text {
    background-color: #fff;
    width: 100%;
    border-bottom: solid 2px #999;
    padding: 0.5rem 0.25rem 0.1rem;
    font-size: 1.7rem;
    text-align: left;
}

.c-form__authWrap {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.c-form__authWrapInner {
    width: 100%;
}

.c-form__authForm {
    margin-bottom: 2rem;
}

.c-form__auth--title {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.c-form__authInput {
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.c-form__authInput input[type="text"],
.c-form__authInput input[type="email"],
.c-form__authInput input[type="password"] {
    font-size: 1.5rem;
    padding: 1rem .75rem;
    height: initial;
}

.c-form__authInput label {
    font-weight: normal;
}

.c-form__preview {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.c-form__preview img {
    z-index: 100;
}
