/*--------------------------------------------------
  投稿詳細
--------------------------------------------------*/

/* header */
.c-detail__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: .5rem 1rem;
}

.c-detail__header__menuWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #0c0c0c7a;
}

.c-detail__header__back {
  font-size: 2rem;
}

.c-detail__header__menuBtnWrap {
    background-color: #fff;
    padding: 1rem 1rem .5rem;
    border-radius: 0 0 15px 15px;
}

.c-detail__header__menuBtn {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: solid 2px #dbdbdb;
}

.c-detail__header__menuBtn:last-child {
    border-bottom: none;
}

.c-detail__header__menuLinkBtn {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.c-detail__header__menuLinkBtn i {
    display: block;
}

/* main */
.c-detail__main {
    padding: 0 2rem;
}
.c-detail__main__photoInfoWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0;
}

.c-detail__main__thumbnail {
    width: 15%;
}

.c-detail__main__photoInfo {
    width: 85%;
    padding-left: 1rem;
}

.c-detail__main__name__txt {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.c-detail__main__comment__txt {
    font-size: 1.3rem;
    font-weight: normal;
}

.c-detail__tags--text {
    margin-right: 0.5rem;
    display: inline-block;
    font-size: 1.3rem;
    color: #137aff;
}
