main {
    padding-bottom: 60px;
}

.l-main__content {
    padding: 20px 0;
}

.l-main__pagenation {
    text-align: center;
}

.l-main__pagenation .pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pagination {
    margin: 10px 0 5px;
}

.l-main__bottomPagenation .pagination {
    margin: 5px 0 15px;
}

.l-main__pagenation .pagination .page-item {
    margin: 0 1rem;
}

.l-main__pagenation .pagination .page-item .page-link {
    border: none;
}

.l-main__triangle {
    height: 25px;
    padding: 0 3px;
}

.l-main__footprints {
    height: 25px;
    padding: 1px 0;
}

.disabled .page-link {
    opacity: .5;
}
