main {
    padding-bottom: 60px;
}

.l-main__content {
    padding: 20px 0;
}

.l-main__pagenation {
    text-align: center;
}

.l-main__pagenation .pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.l-main__pagenation .pagination .page-item:first-child,
.l-main__pagenation .pagination .page-item:last-child {
    margin: 0 1rem;
}

